.titulo {
    color: #ffffff;
    font-size: 50px;
}

.box {
    border: solid 5px #051dee;
}

p {
    color: #ffffff;
    font-size: 20px;
    span.posi {
        color: #ffffff;
        font-size: 30px;
    }
}